# Mergeo de CSV Inicial y CSV creado a través de Selenium

In [1]:
import pandas as pd
import numpy as np
import sidetable

import seaborn as sns
import matplotlib.pyplot as plt

Nos descargamos el CSV que vamos a utilizar de Kaggle.

Los datos son sobre casas en los Estados de Washington, California y Oregón, y divididos por ciudades. Incluye solo algunas de las ciudades más importantes de cada estado.
Los datos incluyen el precio, dirección, número de cuartos, baños, el área de la casa, etc.

Link al kaggle: https://www.kaggle.com/ialjadani/houses-prices-in-selected-area-in-usa

In [2]:
df = pd.read_csv ("../Data/02. CSV_inicial_houses_USA.csv")
df.sort_values(by = ["City"]).head(3)

,Unnamed: 0,Price,Currency,Brokered_by,AD_Situation,Rooms,Bath,Building space,Measruing unit,Address,City,State
1182,1182,899000,USD,Redfin Corporation,New - 18 hours ago,4,2.5,1860,sqft,"301 S Cordova St, Alhambra, CA 91801",Alhambra,CA 91801
1234,1234,510000,USD,Keller Williams Signature,New - 20 hours ago,2,2.0,1123,sqft,"777 E Valley Blvd Apt 56, Alhambra, CA 91801",Alhambra,CA 91801
1302,1302,1188000,USD,COMPASS,New,3,2.5,1890,sqft,"424 N Cordova St, Alhambra, CA 91801",Alhambra,CA 91801
1298,1298,799000,USD,Keller Williams Realty,New,3,2.0,1320,sqft,"228 Hampden Ter, Alhambra, CA 91801",Alhambra,CA 91801
1286,1286,760000,USD,Re/Max Premier Prop Arcadia,New,2,2.0,1753,sqft,"225 S Electric Ave, Alhambra, CA 91801",Alhambra,CA 91801

In [3]:
df.shape

(1718, 12)

In [9]:
set(df["City"])

{'Alhambra',
 'Aliso Viejo',
 'Altadena',
 'Anaheim',
 'Anaheim Hills',
 'Anderson Island',
 'Ashford',
 'Auburn',
 'Azusa',
 'Battle Ground',
 'Bell',
 'Bellevue',
 'Bellflower',
 'Black Diamond',
 'Bonney Lake',
 'Bothell',
 'Brea',
 'Buckley',
 'Bucoda',
 'Buena Park',
 'Burbank',
 'Burien',
 'Camas',
 'Canoga Park',
 'Canyon Country',
 'Castaic',
 'Centralia',
 'Cerritos',
 'Chatsworth',
 'Clyde Hill',
 'Compton',
 'Corbett',
 'Corona Del Mar',
 'Costa Mesa',
 'Coto de Caza',
 'Covina',
 'Covington',
 'Culver City',
 'Cypress',
 'Dana Point',
 'Des Moines',
 'Diamond Bar',
 'Downey',
 'DuPont',
 'Duvall',
 'East Los Angeles',
 'East Olympia',
 'Eatonville',
 'Edgewood',
 'El Monte',
 'Enumclaw',
 'Fairview',
 'Fall City',
 'Federal Way',
 'Fife',
 'Fircrest',
 'Fountain Valley',
 'Fullerton',
 'Garden Grove',
 'Gardena',
 'Gig Harbor',
 'Glendale',
 'Glendora',
 'Graham',
 'Gresham',
 'Hacienda Heights',
 'Harbor City',
 'Hawthorne',
 'Hermosa Beach',
 'Hollywood',
 'Huntington Beach',
 'Irvine',
 'Issaquah',
 'Kenmore',
 'Kent',
 'Kirkland',
 'La Center',
 'La Habra',
 'La Habra Heights',
 'La Mirada',
 'La Palma',
 'La Puente',
 'La Verne',
 'Lacey',
 'Ladera Ranch',
 'Laguna Beach',
 'Laguna Hills',
 'Laguna Niguel',
 'Laguna Woods',
 'Lake Forest',
 'Lake Forest Park',
 'Lake Oswego',
 'Lake Tapps',
 'Lakebay',
 'Lakewood',
 'Lancaster',
 'Lawndale',
 'Lomita',
 'Long Beach',
 'Los Alamitos',
 'Los Angeles',
 'Lynwood',
 'Manhattan Beach',
 'Maple Valley',
 'Maywood',
 'Mercer Island',
 'Midway City',
 'Milton',
 'Mission Hills',
 'Mission Viejo',
 'Monrovia',
 'Morganville',
 'Newcastle',
 'Newport Beach',
 'Newport Coast',
 'Normandy Park',
 'North Bend',
 'North Hills',
 'North Hollywood',
 'Northridge',
 'Olympia',
 'Orange',
 'Orting',
 'Pacoima',
 'Palmdale',
 'Panorama City',
 'Paramount',
 'Pasadena',
 'Phillips Ranch',
 'Pico Rivera',
 'Placentia',
 'Pomona',
 'Portland',
 'Puyallup',
 'Rainier',
 'Rancho Mission Viejo',
 'Rancho Palos Verdes',
 'Rancho Santa Margarita',
 'Redmond',
 'Redondo Beach',
 'Renton',
 'Reseda',
 'Ridgefield',
 'Rochester',
 'Roy',
 'Ruston',
 'Sammamish',
 'San Clemente',
 'San Dimas',
 'San Fernando',
 'San Gabriel',
 'San Juan Capistrano',
 'Santa Ana',
 'Santa Clarita',
 'Saugus',
 'Seatac',
 'Seattle',
 'Sherman Oaks',
 'Shoreline',
 'Signal Hill',
 'Snoqualmie',
 'South Gate',
 'South Pasadena',
 'Spanaway',
 'Stanton',
 'Steilacoom',
 'Sumner',
 'Sylmar',
 'Tacoma',
 'Tarzana',
 'Tenino',
 'Topanga',
 'Torrance',
 'Trabuco Canyon',
 'Troutdale',
 'Tukwila',
 'Tumwater',
 'Tustin',
 'University Place',
 'Valencia',
 'Van Nuys',
 'Vancouver',
 'Vashon',
 'Venice',
 'Villa Park',
 'Walnut',
 'Washougal',
 'West Covina',
 'West Hills',
 'Whittier',
 'Willowbrook',
 'Winnetka',
 'Woodinville',
 'Woodland',
 'Woodland Hills',
 'Yacolt',
 'Yarrow Point',
 'Yelm',
 'Yorba Linda'}

A continuación nos descargamos un CSV que hemos creado a partir de Selenium "SeleniumProMo"

In [ ]:
df_calidad_de_vida_eeuu_ciudades = pd.read_csv ("Data/01. Resultado_Selenium_datos_ciudades_EEUU.csv")
df_calidad_de_vida_eeuu_ciudades.head()

A continuaición vamos a mergear ambos CSV:

In [ ]:
mergeado_inner = df.merge(df_calidad_de_vida_eeuu_ciudades, on= "City")

Exportamos el DataFrame mergeado a un CSV

In [ ]:
mergeado_inner.to_csv("03. Datos_mergeados.csv")

# Análisis Exploratorio

In [ ]:
import pandas as pd
import numpy as np
import sidetable

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
mergeado_inner.head(2)

# Exploración inicial de nuestros datos

### Tipado de Datos

In [ ]:
mergeado_inner.columns

!!!! OJO !!!! Vemos como los nombres no son homogéneos y eso nos puede dificultar nuestro trabajo. Habrá que ponerkos en minúscula, cambiar espacios por "_", y eliminar las columnas que no nos aporten valor

### Tamaño

In [ ]:
mergeado_inner.shape

### Tipos de datos

¿Y el tipo de datos de cada una de las columnas?

In [ ]:
mergeado_inner.dtypes

!!!! OJO !!!! No tiene mucho sentido que el número de 'baños' sea un "float", ni que los números de "Índice_poder_adqui', 'Índice_seguridad', 'Índice_sanidad', 'Índice_clima', 'Índice_costo_vida', 'Relación_precio_ingresos_propiedades', 'Índice_costo_desplazamiento', 'Índice_contaminación', 'Índice_calidad_vida' sean un "string"... Tendremos que hacer algo con ellas más adelante.

### Info

In [ ]:
mergeado_inner.info()

No tenemos valores nulos en nuestrio DataFrame

### Principales estadísticos

In [ ]:
mergeado_inner.describe().T

In [ ]:
mergeado_inner.describe(include = "object").T

### Duplicados

¿Tenemos duplicados en nuestro dataframe? -> Parece que no tenemos....

In [ ]:
mergeado_inner.duplicated().sum()

Pero, qué está pasando? Vamos a eliminar dos columnas con valores únicos "Unnamed: 0_x", "Unnamed: 0_y", y vamos a comprobar si realmente seguimos sin tener duplicados

In [ ]:
eliminar_columns = ['Unnamed: 0_x', 'Unnamed: 0_y']

In [ ]:
mergeado_inner_1 = mergeado_inner.drop(eliminar_columns, axis = 1)
mergeado_inner_1.head(2)

In [ ]:
mergeado_inner_1.duplicated().sum()

!!!! OJO!!!!  vemos como tenemos dos valores que están duplicados en nuestro dataframe

### Sidetables

In [ ]:
mergeado_inner_1.stb.freq(["AD_Situation"])

In [ ]:
mergeado_inner_1.stb.freq(["Brokered_by"])

In [ ]:
mergeado_inner_1.stb.freq(["City"])

In [ ]:
mergeado_inner_1.stb.freq(["State"])

In [ ]:
mergeado_inner_1[mergeado_inner_1.duplicated(keep=False)]

### Exportación de CSV mergeado

Exportamos el DataFrame mergeado, y con una limpieza minimísima, a un CSV:

In [ ]:
mergeado_inner_1.to_csv("03. Datos_mergeados_.csv")